/*GERAL*/
  
 
  .cabeçalho{
  padding: 90px;
  color: black;
  text-align: center;
  border: 50px;
  margin: 0px;
  background-color: rgb(224, 146, 115);
  font-size: 20px;
  border: 50px;
}


.menu{
  text-align: justify;
  font-size: larger;
 margin-top: 50px;
}


.topo2{
  padding: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0px;
  font-size: 30px;
}


.topo3{
   padding: 30px;
  color: rgb(223, 142, 104);
  text-align: center;
  margin: 0;
  font-size: 40px;
}

.conteudo{
  text-align: center;
  padding: 250px;
}

.curiosidade{
  text-align: center;
}