/*GERAL*/
 body{ 
  background-color: rgb(211, 208, 208);

 }
 
  .cabeçalho{
  padding: 10px;
  color: black;
  text-align: center;
  border: 50px;
  margin: 0px;
  background-color: rgb(224, 142, 109);
  font-size: 20px;
  border: 50px;
  border-radius: 10px;

}

.menu{
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 5px;
}


.topo2{
  padding: 30px;
  color: rgb(231, 142, 83);
  text-align: center;
  margin: 0px;
  font-size: 30px;
  
}

.corpo{
  max-width: 800px;
  background-color: rgb(231, 198, 155);
text-align: center;
margin: auto;

}

 .menu a{
  color: rgb(185, 100, 21);
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px ;
  background: lavender;
  transition: 0.3s;

 }

 .conteudo{
  padding: 30px;
  color: rgb(221, 142, 106);
  text-align: center;
  margin: 0;
  font-size: 34px;
}
 
 .menu a:hover{
background: lightcoral;
 }

.topo3{
   padding: 10px;
  color: rgb(230, 148, 110);
  text-align: center;
  margin: 0;
  font-size: 40px;
}

.conteudoprincipal{
  text-align: center;
  padding: 10px;  /*  borda interna*/
  max-width: 1000px;
  margin: auto;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.conteudo1{
  text-align: center;
  max-width: 800px;
margin: auto;
font-size: 28px;
}

.curiosidade{
  text-align: center;
}

.topo4{
  padding: 10;
  text-align: center;
  max-width: 800px;
  font-size: 20px;
  margin: auto;
}
 
.sobre1{
  text-align: center;
  max-width: 900px;
  margin: auto;
  font-size: 20px;
  padding: 50px;
}

.sobre2{
  
}







