/*GERAL*/
  
 
  .cabeçalho{
  padding: 90px;
  color: black;
  text-align: center;
  border: 50px;
  margin: 0px;
  background-color: rgb(224, 146, 115);
  font-size: 20px;
  border: 50px;
}

.menu{
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 50px;
}


.topo2{
  padding: 30px;
  color: rgb(231, 142, 83);
  text-align: center;
  margin: 0px;
  font-size: 30px;
}
 .menu a{
  color: rgb(185, 100, 21);
  text-decoration: none;
  border-radius: 50px;
  padding: 20px 30px ;
  background: lavender;
  transition: 0.3s;

 }

 .conteudo{
  padding: 30px;
  color: rgb(221, 142, 106);
  text-align: center;
  margin: 0;
  font-size: 34px;
}
 
 .menu a:hover{
background: lightcoral;
 }

.topo3{
   padding: 70px;
  color: rgb(230, 148, 110);
  text-align: center;
  margin: 0;
  font-size: 40px;
}

.conteudo{
  text-align: center;
  padding: 250px;
}

.curiosidade{
  text-align: center;
}